.main {
    color: white;
    padding-left: 0;

    h3 {
        font-size: 100px;
        font-weight: 600;
        padding: 0;
        text-transform: uppercase;
    }

    .theme_color {
        color: #00cc99;
    }
}
